<div class="container-fluid">
  <app-pagetitle title="Criar Novo Funcionario" *ngIf="!id"></app-pagetitle>
  <app-pagetitle title="Editar Funcionario {{ id }}" *ngIf="id"></app-pagetitle>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="funcionarioForm" *ngIf="funcionarioForm">
            <div class="row">
              <div class="form-group col-12">
                  <label for="nome">Nome</label>
                  <input class="form-control"  type="text"
                  value=""  placeholder="Nome do Funcionario" id="nome" formControlName="nome">
                  <mat-error *ngIf="funcionarioForm.get('nome').hasError('required')">
                    Por favor informe o nome
                  </mat-error>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="cpf">CPF</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="Digite CPF" minlength="11" maxlength="14"
                  id="cpf" formControlName="cpf">
                  <mat-error *ngIf="funcionarioForm.get('cpf').hasError('required')">
                    Por favor informe o CPF
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="matricula">Matricula</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="Matricula" id="matricula" formControlName="matricula">
                  <mat-error *ngIf="funcionarioForm.get('matricula').hasError('required')">
                    Por favor informe a Matricula
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="cargo">Cargo</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="Cargo" id="cargo" formControlName="cargo">
                  <mat-error *ngIf="funcionarioForm.get('cargo').hasError('required')">
                    Por favor informe o cargo
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="dataNascimento">Data de Nascimento</label>
                  <!-- <input class="form-control"  type="text"
                  value="" placeholder="Cargo" id="dataNascimento" formControlName="dataNascimento"> -->
                  <input matInput [matDatepicker]="picker1" formControlName="dataNascimento">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="funcionarioForm.get('dataNascimento').hasError('required')">
                    Por favor informe a data de nascimento
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label >Sexo</label>
                  <mat-radio-group class="form-check"  formControlName="sexo">
                    <!-- <option>Selecione</option> -->
                    <mat-radio-button class="form-check-input" value="FEMININO" checked>Feminino</mat-radio-button>
                    <br>
                    <mat-radio-button class="form-check-input" value="MASCULINO">Masculino</mat-radio-button>
                  </mat-radio-group>
                  <mat-error *ngIf="funcionarioForm.get('sexo').hasError('required')">
                    Por favor informe o sexo
                  </mat-error>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-group col-12">
                <label>Obras</label>
                <mat-form-field appearance="fill">
                  <mat-select  name="obra" formControlName="obra" >
                    <mat-option>Selecionar</mat-option>
                    <mat-option *ngFor="let obra of obras" [value]="obra.id">
                      {{obra.nome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="funcionarioForm.get('obra').hasError('required')">
                  Por favor informe a obra
                </mat-error>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="!id">
              <div class="form-group col-12">
                <label>Usuario Criados Disponiveis</label>
                <mat-form-field appearance="fill">
                  <mat-select  name="usuario" formControlName="usuario" >
                    <mat-option>Selecionar</mat-option>
                    <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                      {{usuario.email}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="funcionarioForm.get('usuario').hasError('required')">
                  Por favor informe o usuario
                </mat-error>
              </div>
            </div>
          </form>
            <hr>
          <form [formGroup]="enderecoForm" *ngIf="enderecoForm">
            <h3>Endereco</h3>
            <div class="row">
              <div class="form-group col-12">
                  <label for="logradouro">Logradouro</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="logradouro" id="logradouro" formControlName="logradouro">
                  <mat-error *ngIf="enderecoForm.get('logradouro').hasError('required')">
                    Por favor informe o logradouro
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="logradouro">Numero</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="numero" id="numero" formControlName="numero">
                  <mat-error *ngIf="enderecoForm.get('numero').hasError('required')">
                    Por favor informe o numero
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="complemento">Complemento</label>
                  <input class="form-control" type="text"
                  value="" placeholder="complemento" id="complemento" formControlName="complemento">
                  <mat-error *ngIf="enderecoForm.get('complemento').hasError('required')">
                    Por favor informe o complemento
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="bairro">Bairro</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="bairro" id="bairro" formControlName="bairro">
                  <mat-error *ngIf="enderecoForm.get('bairro').hasError('required')">
                    Por favor informe o bairro
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="bairro">Cidade</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="cidade" id="cidade" formControlName="cidade">
                  <mat-error *ngIf="enderecoForm.get('cidade').hasError('required')">
                    Por favor informe o cidade
                  </mat-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                  <label for="estado">Estado</label>
                  <input class="form-control"  type="text"
                  value="" placeholder="estado" id="estado" formControlName="estado">
                  <mat-error *ngIf="enderecoForm.get('estado').hasError('required')">
                    Por favor informe o estado
                  </mat-error>
              </div>
            </div>
          </form>
          <button class="btn btn-primary" type="button" (click)="salvar();">Salvar</button>
      </div>
    </div>
  </div>
</div>


